/* MainStyles.css */
.tab-link {
    display: block;
    padding: 15px;
    margin-top: 3vh;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    background-color: var(--random-color);
    transition: background-color 0.3s ease;
  }
  
  .tab-link:hover {
    background-color: #ddd;
  }
  